<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Order</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>
​
</head>
<body>

      

<br><br><br><br><br>
<div class="container-fluid">
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-6  col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Update Order
                           
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form method="post"  th:action="@{/order/confirm}" th:object="${order}" id="signUp" role="form">
                            <!--<div class="form-title " > Registration Form</div>-->
                             <div class="form-group">
                                <label for="txtFname"><span class="req">* </span> OrderId: </label>
                                <input class="form-control" type="text" name="customerId" id="txtFname" required="true" th:value="${order.orderId}" th:field="*{orderId}"  readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label for="txtFname"><span class="req">* </span> CustomerId: </label>
                                <input class="form-control" type="text" name="customerId" id="txtFname" required="true"  th:value="${order.customerId}"  readonly="readonly"/>
                            </div>
                            <div  class="form-group">
                                <label for="txtLname"><span class="req">* </span> TotalPrice: </label>
                                <input class="form-control" type="text" name="totalPrice" id="txtLname" required="true" th:value="${order.totalPrice1}"  readonly="readonly"/>
                            </div>
                             <div class="form-group">
                                <label for="txtLname"><span class="req">* </span> ProductName: </label>
                                <input class="form-control" type="text" name="productname" id="txtLname" required="true" th:value="${order.productName}" th:field="*{productName}" readonly="readonly" />
                            </div>
                             <div class="form-group">
                                <label for="txtLname"><span class="req">* </span> Price: </label>
                                <input class="form-control" type="text" name="price" id="txtLname" required="true"  th:value="${order.price}" th:field="*{price}" />
                            </div>
                            <div class="form-group">
                                <label for="txtLname"><span class="req">* </span> Quantity: </label>
                                <input class="form-control" type="text" name="quantity" id="txtLname" required="true" th:value="${order.quantity}" th:field="*{quantity}"/>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success btn-primary" type="submit" name="submit_reg"
                                       th:value="${value}"/>
                            </div>
                        </form>
                    </div>
                    <div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
